:root {
  --color-bg1: rgb(54, 84, 134);
  --color-bg2: rgb(127, 199, 217);
  --blob-color: rgba(54, 84, 134, 0.8); /* Blob color */
  --circle-size: 50%;
  --blending: hard-light;
  --blob-blur: 20px; 
}


@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;400;600;800&family=Poppins:wght@100;400&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  box-sizing: border-box;
}
.main-container {
  background: linear-gradient(45deg, #365486, #7fc7d9, #7fc7d9, #365486);
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
}
.left-container {
  width: 55vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 90vh;
}

.heading h1 {
  font-family: "JetBrains Mono", monospace;
  color: #0f1035;
  text-shadow: 3px 2px 0px rgba(255, 255, 255, 0.5);
  font-size: 55px;
  padding-left: 40px;
  border-left: #0f1035 solid 6px;
}
.input-form {
  margin-top: auto;
  margin-bottom: 5%;
  padding-left: 50px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-container {
  height: 50px;
  display: flex;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #11235a;
  white-space: nowrap; 
  display: flex;
  align-items: center;
}
.input-container .label {
  margin-right: 10px;
}
.input-container .radio-btns {
  display: flex;
  padding-left: 40px;

}
.btn {
  height: 40px;
  width: 230px;
  background-color: #0f1035;
  color: #dcf2f1;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  box-shadow: 3px 4px 5px #7fc7d9;
}
/* Input Bars */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:focus {
  outline: none;
}

.input-container .radio-btns input[type="radio"] {
  display: none;
}

.input-container .radio-btns label {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: #11235A;
  pointer-events: fill;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 40px;

}

.input-container .radio-btns label:before {
  content: "\2610"; 
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.input-container .radio-btns input[type="radio"][value="yes"]:checked + label:before {
  color: #11235A;
  content: "\2713"; 
}

.input-container .radio-btns input[type="radio"][value="no"]:checked + label:before {
  color: #11235A;
  content: "\2716"; 
}

/* Number Inputs */
.wrapper{
  width: 100%;
  background: transparent;

}
.wrapper .input-data{
  display: flex;
  align-items: center;  
  height: 40px;
  width: 100%;
  position: relative;
  background: none;
  bottom: 0;
  font-family: 'Poppins', sans-serif;

}
.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  color: #11235a;
  background: transparent;
  position: absolute;
  left: 20px;
}
.wrapper .input-data input:focus ~ label,
.wrapper .input-data input:valid ~ label{
  transform: translate(-15px, -25px);
  font-size: 10px;
}
.wrapper .input-data label {
  position: absolute;
  bottom: 7px;
  left: 20px;
  color: #11235A;
  font-weight: 200;
  font-size: 15px;
  transition: all 0.3s ease;
  cursor: text;
}

.wrapper .input-data .underline{
  position: absolute;
  bottom: 2px;
  height: 1px;
  width: 100%;
  border-bottom: 0.5px solid black; 

  
}
.wrapper .input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #0F1035;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.wrapper .input-data input:focus ~ .underline:before,
.wrapper .input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}

/* Select */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  width:  10em;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0!important;
  background: #7fc7d9;
  background-image: none;
  padding-left: 15px;
  color: #11235a;
  cursor: pointer;
  font-size: 14px; 
  font-family: 'Poppins', sans-serif;
}

select::-ms-expand {
  display: none;
}

.input-data {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.select {
  position: relative;
  border: 0.8px solid #365486;
  display: flex;
  width: 100%;
  max-width: 1000px; 
  height: 30px;
  line-height: 40px; 
  background: #7fc7d9;
  overflow: hidden;
  border-radius: 8px;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: -3px;
  right: 0; 
  padding-left: 10px;
  padding-right: 10px;
  background: #365486;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.select:hover::after {
  color: #7fc7d9;
}
.right-div-container {
  width: 350px;
  height: 300px;
  border-radius: 15%;
  background: linear-gradient(70deg, #89d4e7, #89d4e7, #89d4e7, #2e95a1);
  margin-top: 10%;
  text-align: center;
  padding: 20px;
  z-index: 1;
  color: #0F1035;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.right-div p{
  padding: 0;
  margin: 0;
}

.right-div .title{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 25px;
}
.right-div .price{
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 800;
}
.right-div .priceClass{
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 200;
}
.right-div .tips{
  font-weight: 200;
  font-size: 15px;
}
@keyframes moveInCircle {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes moveVertical {
  0%, 100% { transform: translateY(-50%); }
  50% { transform: translateY(50%); }
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  height: 100vh;
  position: relative; /* Ensure relative positioning for child absolute elements */
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
}

.blob {
  position: absolute;
  background: var(--blob-color);
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  mix-blend-mode: var(--blending);
  filter: blur(var(--blob-blur)); /* Apply blur effect */
}

.blob1 {
  animation: moveVertical 20s ease-in-out infinite;
  top: 20%;
  background: #365486;
  left: 30%;
}

.blob2 {
  animation: moveInCircle 5s linear infinite;
  top: 70%;
  left: 70%;
}

.interactive-blob {
  position: absolute;
  width: 40%;
  height: 30%;
  background: var(--blob-color);
  border-radius: 50%;
  mix-blend-mode: var(--blending);
  pointer-events: none; /* Ignore mouse events */
  filter: blur(var(--blob-blur)); /* Apply blur effect */
}