@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'JetBrains Mono', monospace;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #365486, #7FC7D9, #7FC7D9, #365486);
    background-size: 300% 300%;
    animation: color 12s linear infinite alternate;
}

.main-container {
    height: 80vh;
    width: 60%;
    max-width: 50%;
    padding: 20px;
    margin-left: 70px;
    border-radius: 10px;
    background: #fff;
}
h1{
    font-size: 50px;
    padding-bottom: 30px;
}
.ins {
    display: flex;
    flex-direction: column;
    font-size: larger;
    gap: 18px;
}

.ins > div { 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ins label {
    flex-basis: 40%;
    margin-right: 10px;
}

.ins input[type="number"],
.ins input[type="radio"] {
    flex-basis: 60%;
    padding: 5px;
}

.ins input[type="radio"] {
    width: auto;
}
.btn{
    height: 40px;
    width: 230px;
    background-color: #0F1035;
    color: #DCF2F1;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    border-radius: 15px;
    text-decoration: none;
    border: none;
    box-shadow: 3px 4px 5px #7FC7D9;
}
.overlay-container {
    width: 40%;
    height: 100vh;
    background-color: #DCF2F1;
    opacity: 0.15;
    position: fixed;
    right: -20px;
    top: 0;
    bottom: 0;
    transform: skewX(10deg);
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
